.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  height: 80px;
  background-color: var(--color-bg-white);
}

.header-container {
  max-width: 1238px;
  margin: 0 auto;
  max-width: 1238px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
